#teams {
    .teams-flex {
        display: flex;
        position: relative;
        width: 100%;
        height: fit-content;

        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 0 20px;

        //border: 1px solid blue;
    }
}