.learn-more {
    display: block;
    position: relative;
    height: fit-content;
    width: fit-content;
    color: inherit;
    text-decoration: none;

    transition: 0.3s all ease;
    > .arrow {
        padding-left: 3px;
        transition: 0.3s padding-left ease;
    }

    &:hover {
        color: rgb(32, 163, 158);
        > .arrow {
            padding-left: 10px;
        }
    }
}