.App {
    overflow-x: hidden;
    overflow-y: auto;
    height: fit-content;
    position: relative;
    .cards {
        display: flex;
        position: relative;
        width: 100%;
        height: fit-content;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
}