.minor-text {
    // color: #ecae58;
    // text-shadow: -1px 1px 1px rgba($color: #ecae58, $alpha: 0.5);
    margin: 0 1.75em;
    font-size: 1.5em;
}

.minor-a {
    color: #74b1aa;
    text-shadow: -1px 1px 1px rgba($color: #67a09a, $alpha: 0.5);
}

.minor-b {
    color: #ecae58;
    text-shadow: -1px 1px 1px rgba($color: #ecae58, $alpha: 0.5);
}

@media only screen and (max-width: 1000px) {
    .minor-text {
        margin: 0 0.75em;
    }
}
