.section {
    display: block;
    position: relative;
    width: calc(100% - 100px);
    height: fit-content;
    margin: 0px 50px;
    padding: 100px 0;
    > .SectionWrapper {
        display: block;
        position: relative;
        width: 100%;
        height: fit-content;
        max-width: 1400px;
        margin: 0 auto;
    }
}
.FullSection {
    padding: 50px 0;
    > .SectionWrapper {
        max-width: 1600px;
    }
}

@media only screen and (max-width: 1000px) {
    .section {
        width: calc(100% - 60px);
        margin: 50px 30px;
    }
}
