.team-card {
    display: block;
    position: relative;
    width: 100%;
    height: 300px;

    border-radius: 5px;
    //background-color: #fff;
    box-shadow: 3px 3px 5px 2px rgba($color: #000000, $alpha: 0.3);
}