.section-a {
    display: block;
    position: relative;
    width: 100%;
    height: 50vh;
    margin: 50px 0;
    //overflow: hidden;

    > .section-a-wrapper {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 20px;

        .major, .minor, .mini {
            text-align: left;
            position: relative;
            line-height: 1em;
            // -webkit-text-stroke-width: 1.5px;
            // //-webkit-text-stroke-color: #ecae58;
            // -webkit-text-stroke-color: #ecae58;
            // color: transparent;
        }

        // .major {
        //     color: rgb(32, 163, 158);
        //     text-shadow: -2px 2px 2px
        //         rgba($color: rgb(32, 163, 158), $alpha: 0.5);
        //     text-transform: uppercase;
        //     font-size: 2.5em;

        //     background-color: rgb(52, 52, 52);
        //     width: fit-content;
        //     &::before {
        //         content: "";
        //         display: block;
        //         position: absolute;
        //         height: calc(70%);
        //         width: calc(100%);
        //         right: -100px;
        //         top: 20%;
        //         z-index: -1;
        //         background-color: red;
        //     }
        // }
        // .minor {
        //     color: #ecae58;
        //     text-shadow: -1px 1px 1px
        //         rgba($color: #ecae58, $alpha: 0.5);
        //     font-size: 2em;
        // }
        // .mini {
        //     color: #fff;
        //     font-size: 1.2em;
        //     font-weight: normal;
        // }
    }
}
