.section-a {
    display: block;
    position: relative;
    width: 100%;
    height: 50vh;
    margin: 50px 0;

    > .section-a-wrapper {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        max-width: 1600px;
        margin: 0 auto;
        border: 1px solid red;
        > .blob {
            display: block;
            position: absolute;
            width: 50%;
            height: 80%;
            top: 10%;
            left: 0;
            background-image: url("../../assets/images/blobs/blob1--export.svg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            padding: 50px;
            border: 1px dashed red;
        }
    }
}
