.Cards {
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
    gap: 20px;
}

.ChartsFlex {
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content;

    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    margin: 10px 0;

    //border: 1px dashed red;

    > .ChartCard {
        display: flex;
        position: relative;
        width: fit-content;
        height: fit-content;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        //border: 1px solid black;
    }
}
.PieChart {
    display: block;
    position: relative;
    height: 40vh;
    width: 40vh;
    margin: 10px auto;

    //border: 1px solid white;
}

.FlexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // border: 1px solid red;
    gap: 40px;
    align-items: center;
}

.SectionHalf {
    display: block;
    width: calc(50% - 20px);
    height: fit-content;
}

.SectionImage {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

@media only screen and (max-width: 1000px) {
    .Cards {
        justify-content: center;
    }

    .SectionHalf {
        min-width: 100%;
    }
}
