.wavy-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgb(52, 52, 52);

    animation: fade-in 1s;

    > .bg-nav {
        display: none;
        position: absolute;
        width: 100%;
        height: 6em;
        top: 0;
        left: 0;
        background-color: inherit;
        box-shadow: 0px 0px 5px 5px rgba($color: #000000, $alpha: 0.1);
        z-index: 0;
    }
    > .squiggles {
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-image: url("./background-design-1.png");
        background-repeat: repeat;
        background-size: 150px;
        filter: brightness(0.5);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
