#hero {
    display: block;
    position: relative;
    width: 100%;
    height: fit-content;

    z-index: 1;
    background-color: pink;

    //border: 1px solid blue;
    > .hero-bg-img {
        display: block;
        position: relative;
        z-index: -1;
        width: 100%;
    }
    > .hero-wrapper {
        display: block;
        position: absolute;
        height: calc(100% - 4em);
        width: 100%;
        top: 4em;
        
        border: 1px solid green;
    }
}